@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  /* --foreground: #171717; */
  --foreground: #000000;
  --background: #ffffff;
  --background-opacity: #ffffff99;
  --gradient: linear-gradient(135deg, #4f55fe, #00F2FE);
  --transition: .3s ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--foreground);
  color: var(--background);
}

::-webkit-scrollbar {
  display: none;
}

/* 
::-webkit-scrollbar-thumb {
  background-color: black;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.bold {
  font-weight: bold;
}

.mrt50 {
  margin: 50px 0 0 0;
}

.mrt100 {
  margin: 100px 0 0 0;
}

.mrt150 {
  margin: 150px 0 0 0;
}

.mrt200 {
  margin: 200px 0 0 0;
}