.loader {
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 50;
    /* width: 100%; */
}

.loadContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.loadContainer.active {
    opacity: 0;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--foreground);
    margin: 6px;
}

@keyframes load {
    0% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 0px 0 var(--foreground);
    }

    0% {
        opacity: 1;
        transform: scale(0.5);
        box-shadow: 0 0 0px 0 var(--foreground);
    }

    100% {
        opacity: 0;
        transform: scale(2);
        box-shadow: 0 0 15px 3px var(--foreground);
    }
}