.part1 {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    row-gap: 30px;
    z-index: 2;
}

.steps {
    width: 100%;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -50px;
}

.step {
    max-width: 22%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    row-gap: 30px;
    opacity: 0;
    transition: var(--transition);
    background-color: var(--background);
    border: 1px solid #e5e7eb;
    border-radius: 25px;
    box-shadow: 0 6px 15px -5px #00000036;
    padding-left: 25px;
}

.stepIcon {
    width: 40px;
    height: 40px;
    fill: var(--foreground) !important;
    stroke: var(--foreground) !important;
    margin-left: 20px;
}

.stepTitle {
    width: 100%;
    height: 60px;
    color: var(--foreground);
    font-size: 20px;
}

.stepDescription{
    min-height: 170px;
}

.step.active {
    margin: 0;
    opacity: 1;
}