.reasons {
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
}

.reason {
	width: calc(100% / 3 - 20px);
	min-width: 400px;
	min-height: 250px;

	background-color: var(--background);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	row-gap: 20px;
	padding: 20px;
	position: relative;
	border: 1px solid #e5e7eb;
	border-radius: 25px;
	box-shadow: 0 0 0 0 #ffffff00;
	transition: var(--transition);
	transform: translateY(30px);
	opacity: 0;
	overflow: hidden;
}

.reason.active {
	transform: translateY(0);
	opacity: 1;

}

.reason:hover {
	box-shadow: 0 6px 15px -5px var(--background3);
	background-color: var(--background3);
}

.reason::before {
	content: '';
	background-image: var(--gradient);
	/* background-color: var(--foreground); */
	width: 0;
	height: 5px;
	position: absolute;
	left: 0;
	top: 0;
	transition: var(--transition);
	z-index: -1;
}

.reason:hover::before {
	width: 100%;
}

.reasonIcon {
	background-color: var(--background3);
	padding: 15px;
	border-radius: 10px;
}

.reasonTitle {
	color: var(--foreground);
	font-weight: bold;
}

.reasonDescription {
	font-size: 18px;
}

.tryNow {
	font-size: 25px;
	border: unset;
	box-shadow: 0px 4px 10px -7px var(--foreground);
	padding: 13px 40px;
}