::selection {
    background-color: #ef4444 !important;
    color: white !important;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(-45deg, #1b0000, black);
    color: white;
    font-family: "Roboto Mono", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    height: fit-content;
    /* background-color: #05070c; */
    background-color: #0c0505;
    border: 1px solid #ef4444;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.container::after,
.container::before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ef4444;
    box-shadow: 0 0 200px 40px #ef4444;
    transform: translate(100%, -100%);
    filter: blur(50px);
}

.container::before {
    bottom: 0;
    left: 0;
    right: unset;
    top: unset;
    transform: translate(-100%, 100%);
}

.reason {
    background-color: #18070a;
    font-size: 20px;
    max-width: 80vw;
    text-align: start;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 30px;
    border: 1px solid #a80000;
    border-radius: 15px;
    text-indent: -20px;
}

h1 {
    font-size: 50px;
    color: #ef4444;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.title {
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #ef4444;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f87171;
    display: flex;
    position: absolute;
    transform: translate(-20px, 8px);
}

.btn {
    padding: 15px;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: var(--transition);
    border: 3px solid #ef4444;
    color: #ef4444;
}

.btn:hover {
    background-color: #ef4444;
    color: white;
    border-radius: 0;
}